<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="p-3 mb-2 bg-dark text-white">
    <span id="footerEmail" class="font-weight-bold m-0 p-0"></span> with roles: <span id="footerRoles"
                                                                                      class="text-uppercase m-0 p-0"></span>
    <a href="/logout" style="float: right;">Logout</a>
</div>

<!--    Боковая панель-->
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
               role="tab" aria-controls="v-pills-admin" aria-selected="true">
                <p class="mb-0">Администратор</p>
            </a>


            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">
                <p class="mb-0">Пользователь</p>
            </a>
        </div>
    </div>


    <!--    Панель Администратора-->
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <h2 class="m-2">Панель администратора</h2>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-allUsers-tab" data-toggle="tab" href="#nav-allUsers"
                           role="tab" aria-controls="nav-allUsers" aria-selected="true">Users Table</a>
                        <a class="nav-item nav-link" id="nav-newUser-tab" data-toggle="tab" href="#nav-newUser"
                           role="tab" aria-controls="nav-newUser" aria-selected="false">New User</a>
                    </div>
                </nav>

                <!--        AllUsers-->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-allUsers" role="tabpanel"
                         aria-labelledby="nav-allUsers-tab">
                        <h6 class="m-2">All users</h6>

                        <!--    Таблица-->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">SurName</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="mainTableBodyUsers">
                            <!--                            Все Пользователи-->
                            </tbody>
                        </table>
                    </div>

                    <!--            NewUser-->
                    <div class="tab-pane fade" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                        <h6 class="m-2">Add new User</h6>

                        <!--                Форма заполения нового пользователя-->
                        <form class="mx-auto text-center" style="width: 380px">
                            <div>
                                <label for="newUserId"></label>
                                <input hidden type="text" name="id" id="newUserId"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserName">Name</label>
                                <input type="text" class="form-control bg-warning" name="name"
                                       id="newUserName"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserLastname">SurName</label>
                                <input type="text" class="form-control bg-warning" name="surName"
                                       id="newUserLastname" required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserAge">Age</label>
                                <input type="number" class="form-control" name="age" id="newUserAge"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserEmail">Mail</label>
                                <input type="text" class="form-control" name="mail" id="newUserEmail"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserPassword">Password</label>
                                <input type="text" class="form-control bg-warning" name="password"
                                       id="newUserPassword" required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="newUserRole">Role</label>
                                <select id="newUserRole" class="form-control" name="roles" multiple required>
                                    <!--                                  content-->
                                </select>
                            </div>
                            <input id="btnAdd" onclick=addNewUser() class="btn btn-success" type="submit" value="Add new user"/>
                        </form>
                    </div>
                </div>
            </div>

            <!--    О пользователе-->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <h2 class="m-2">Информация о пользователе</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>SurName</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody id="mainTableBodyUser">

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Modal EDIT-->
    <div id="modalEditView" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--            Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>

                <!--            Modal body-->
                <div class="modal-body">
                    <div class="container-fluid py-3 bg-white">
                        <form class="mx-auto text-center" style="width: 380px" name="id">
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userIdEdit">ID</label>
                                <input class="form-control" type="text" id="userIdEdit" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userNameEdit">Name</label>
                                <input type="text" class="form-control" id="userNameEdit" name="name" required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userLastnameEdit">SurName</label>
                                <input type="text" class="form-control" id="userLastnameEdit" name="surName" required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userAgeEdit">Age</label>
                                <input type="number" class="form-control" id="userAgeEdit" name="age"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userEmailEdit">Mail</label>
                                <input type="text" class="form-control" id="userEmailEdit"
                                       name="mail"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userPasswordEdit">Password</label>
                                <input type="text" class="form-control" id="userPasswordEdit" name="password" required/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userRoleEdit">Role</label>
                                <select id="userRoleEdit" class="form-control" name="roles" multiple required>
                                    <!--                           Content-->
                                </select>
                            </div>
                        </form>
                    </div>

                    <!--            Modal footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button id="btnEdit" type="submit" class="btn btn-info" name="id" data-dismiss="modal">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal DELETE-->
    <div class="modal" id="modalDeleteView">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--            Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>

                <!--            Modal body-->
                <div class="modal-body">
                    <div class="container-fluid py-3 bg-white">
                        <form class="mx-auto text-center" style="width: 380px" name="id">
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userIdDelete">ID</label>
                                <input type="text" class="form-control" id="userIdDelete" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userNameDelete">Name</label>
                                <input type="text" class="form-control" id="userNameDelete" name="name" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userLastnameDelete">SurName</label>
                                <input type="text" class="form-control" id="userLastnameDelete" name="surName"
                                       readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userAgeDelete">Age</label>
                                <input type="number" class="form-control" id="userAgeDelete" name="age" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userEmailDelete">Mail</label>
                                <input type="text" class="form-control" id="userEmailDelete" name="mail" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userPasswordDelete">Password</label>
                                <input type="text" class="form-control" id="userPasswordDelete" name="password"
                                       readonly/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold m-0" for="userRoleDelete">Role</label>
                                <input type="text" class="form-control" id="userRoleDelete" readonly/>
                            </div>
                        </form>
                    </div>

                    <!--            Modal footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" name="id" id="btnDelete">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="js/user.js"></script>
<script src="js/users.js"></script>
<script src="js/edit.js"></script>
<script src="js/add.js"></script>
<script src="js/roles.js"></script>
<script src="js/delete.js"></script>
</body>
</html>